.App{
  color: black;
  
}

.row{
  --bs-gutter-x: 0;
}

.product-section{
  padding: 40px;
  margin-top: 10px;
}

.best-text{
text-align: center;
padding: 30px;
color: #36093e;
font-family: cursive;
font-size: 30px;
}