.products{
    width: 20rem;
    margin: 5px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.products img{
    height: 16rem;
}

.products .card-block{
    padding: 10px;
}

.card{
    padding: 14px;
    background-color: #eac5f1;
}
